<div>
    Bonjour,
    Vous avez demandé une réinitialisation de votre mot de passe, pour pouvoir fournir un nouveau mot de passe, veuillez suivre le lien ci-après.
    <a href="{{ site_url }}user/{{ user.id }}-{{ user.resetPasswordToken }}"><h4>Lien !</h4></a>

    <br>
    <p>Nous vous conseillons de ne pas utiliser le même mot de passe pour toutes vos connexions, et de les stocker de manière sécurisée.</p>

    <p>L'équipe de wow-Build <3</p>
</div>
