.wrapper {
    background-color: #172A3A;
    border: 3px solid #2C3D4B;
    color: white;
    height:fit-content;
}

.topThreeAssets {
    height: 50px;
    width: 50px;
}

.selected {
    background-color: #2C3D4B;
    border-radius: 5px;
}

