{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} fade show">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}