{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('messenger') }}
{% endblock %}

{% block body %}

    <div class="col-12 row justify-content-center align-items-center">
        <div class="col-8 row justify-content-center align-items-center">
            <div class="col-12 row justify-content-start">
                <a href="{{ path('app_usermessage_reception') }}" class="mess-onglets m-1">Boîte de réception</a>
                <a href="{{ path('app_usermessage_sent') }}" class="mess-onglets m-1">Boîte d'envoi</a>
                <a href="#">Nouveau message</a>
            </div>
            <div class="mess-box col-12 row">
                {% for message in messages %}
                    {{ include('user_message/messageList.twig') }}
                    {% else %}
                    <div class="col-12 text-center">Vous n'avez pas de messages</div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
