{% extends 'base.html.twig' %}

{% block title %}Edit WowClass{% endblock %}

{% block body %}
    <h1>Edit WowClass</h1>

    {{ include('wow_class/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_wowclass_index') }}">back to list</a>

    {{ include('wow_class/_delete_form.html.twig') }}
{% endblock %}
